<div class="text-center">   
    <h1>Welcome to EduZone!</h1>
    <br/>
    <p>You can use this platform to interact with each other users using posts and comments.</p>
    <% if !user_signed_in? %>
        <p> Please Sign Up or Sign In to continue! </p>
    <% else %>
        <p> Click on the Discussion Forum button in the navbar to continue! </p>
    <% end %>
</div>